<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Iproducts" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ShopManagement/products/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Iproducts"
                contract="ProductServiceReference.Iproducts" name="BasicHttpBinding_Iproducts" />
        </client>
    </system.serviceModel>
</configuration>